## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bima,ID,-8.4667,118.7167,76.57,90,96,4.90,overcast clouds
1,1,Takoradi,GH,4.8845,-1.7554,80.74,77,57,9.78,broken clouds
2,2,Nouadhibou,MR,20.9310,-17.0347,84.18,58,1,14.97,sand
3,3,Codrington,AU,-38.2667,141.9667,45.86,80,20,10.13,few clouds
4,4,Busselton,AU,-33.6500,115.3333,44.10,72,88,11.25,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 69
What is the maximum temperature you would like for your trip? 81

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bima,ID,-8.4667,118.7167,76.57,90,96,4.90,overcast clouds
1,1,Takoradi,GH,4.8845,-1.7554,80.74,77,57,9.78,broken clouds
9,9,Atuona,PF,-9.8000,-139.0333,77.14,71,6,18.92,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,72.77,77,5,10.96,light rain
17,17,Faanui,PF,-16.4833,-151.7500,78.30,75,15,22.95,light rain
18,18,Hilo,US,19.7297,-155.0900,73.80,91,75,4.61,broken clouds
26,26,Bethel,US,41.3712,-73.4140,72.18,85,75,10.36,broken clouds
32,32,Yulara,AU,-25.2406,130.9889,78.64,34,50,1.14,scattered clouds
34,34,Acapulco,MX,16.8634,-99.8901,80.42,83,75,3.44,broken clouds
35,35,Tiarei,PF,-17.5333,-149.3333,73.42,73,14,22.10,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        221
City           221
Country        219
Lat            221
Lng            221
Max Temp       221
Humidity       221
Cloudiness     221
Wind Speed     221
Description    221
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [8]:
preferred_cities_df.count()

City_ID        219
City           219
Country        219
Lat            219
Lng            219
Max Temp       219
Humidity       219
Cloudiness     219
Wind Speed     219
Description    219
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp       Description      Lat       Lng Hotel Name
0       Bima      ID     76.57   overcast clouds  -8.4667  118.7167
1   Takoradi      GH     80.74     broken clouds   4.8845   -1.7554
9     Atuona      PF     77.14         clear sky  -9.8000 -139.0333
15   Rikitea      PF     72.77        light rain -23.1203 -134.9692
17    Faanui      PF     78.30        light rain -16.4833 -151.7500
18      Hilo      US     73.80     broken clouds  19.7297 -155.0900
26    Bethel      US     72.18     broken clouds  41.3712  -73.4140
32    Yulara      AU     78.64  scattered clouds -25.2406  130.9889
34  Acapulco      MX     80.42     broken clouds  16.8634  -99.8901
35    Tiarei      PF     73.42        few clouds -17.5333 -149.3333

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [13]:
hotel_df.count()

City           219
Country        219
Max Temp       219
Description    219
Lat            219
Lng            219
Hotel Name     219
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Bima,ID,76.57,overcast clouds,-8.4667,118.7167,Lambitu Hotel
1,Takoradi,GH,80.74,broken clouds,4.8845,-1.7554,Raybow International Hotel
9,Atuona,PF,77.14,clear sky,-9.8000,-139.0333,Villa Enata
15,Rikitea,PF,72.77,light rain,-23.1203,-134.9692,People ThankYou
17,Faanui,PF,78.30,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...
670,Teloes,PT,78.57,clear sky,41.3105,-8.1110,Casa do Lago
672,Luzhou,CN,69.71,light rain,28.8724,105.4405,Shijichun Hotel
673,Macae,BR,76.75,broken clouds,-22.3708,-41.7869,Personal Hotel
675,Muros,ES,76.84,clear sky,42.7762,-9.0603,Apartment Av. Castelao
680,Kisangani,CD,77.56,overcast clouds,0.5167,25.2000,Grand Ramela Hotel

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))